.header {
    padding: 4rem 0;
    text-align: center;
  }
  
  .header-titulo {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .header-subtitulo {
    font-size: 1.5rem;
  }